.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-30) var(--spacing-20);
}

.box {
  min-width: 100%;
  display: flex;
  flex-basis: 500px;
  overflow: hidden;
  margin-left: calc(var(--spacing-20) * -1);
  margin-right: calc(var(--spacing-20) * -1);
}

.image {
  flex: 1;
  display: block;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-10) 0;
}

.title {
  font-weight: var(--font-weight-light-bold);
  font-size: 1.2rem;
}

.description,
.price {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-standard);
  color: var(--gray);
}

.sizing {
  display: flex;
  justify-content: space-between;
}

.bag {
  flex: 1;
  padding: var(--spacing-15);
  border: none;
  color: var(--white);
  background-color: var(--black);
  text-transform: uppercase;
}

.container {
  padding-top: var(--spacing-20);
  display: flex;
}
