.wrapper {
  display: flex;
  flex-direction: column;
}

.box {
  min-width: 100%;
  display: flex;
  flex-basis: 500px;
  overflow: hidden;
}

.image {
  flex: 1;
  display: block;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.sizing {
  display: flex;
}
