.wrapper {
  overflow: hidden;
}

.wrapper,
.link {
  display: flex;
  flex: 1;
}

.link {
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  font-weight: var(--font-weight-light-bold);
  align-items: center;
}

.logo {
  aspect-ratio: 16 / 9;
  border-radius: var(--radius-5);
  object-fit: cover;
  width: 100%;
  display: block;
  height: 100%;
}
