.wrapper {
  aspect-ratio: 16 / 9;
  border-radius: var(--radius-5);
  overflow: hidden;
}

.wrapper,
.link {
  display: flex;
  flex: 1;
}

.link {
  flex-direction: column;
}

.logo {
  object-fit: cover;
  width: 100%;
  display: block;
  height: 100%;
}
