.wrapper,
.categories {
  display: flex;
  /* justify-content: center; */
}

.wrapper {
  padding: var(--spacing-20) var(--spacing-60);
  border-bottom: var(--simple-border);
}

.categories {
  list-style: none;
  display: flex;
  gap: var(--spacing-100);
}

.link:link,
.link:visited {
  text-decoration: none;
  color: inherit;
}

.sale:link,
.sale:visited {
  text-decoration: none;
  color: var(--highlight);
}

@media screen and (max-width: 43.75rem) {
  .wrapper {
    padding: var(--spacing-20);
  }

  .categories {
    justify-content: space-between;
    flex: 1;
    gap: 0;
  }
}
