.wrapper {
  min-width: 100%;
  padding: var(--spacing-40) var(--spacing-60);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-image), 1fr));
  /* grid-auto-rows: var(--grid-auto-row); */
  gap: var(--spacing-20);
  list-style: none;
  overflow: hidden;
}

@media screen and (max-width: 43.75rem) {
  .wrapper {
    padding: var(--spacing-20);
  }

  .products {
    grid-template-columns: 1fr;
  }
}
