.wrapper {
  min-width: 100%;
  padding: var(--spacing-40) var(--spacing-60);
}

.products {
  display: grid;
  grid-template-columns: repeat(6, var(--grid-image));
  /* grid-auto-rows: var(--grid-auto-row); */
  gap: var(--spacing-20);
  list-style: none;
  overflow: hidden;
}
