.wrapper {
  min-width: 100%;
  padding: var(--spacing-60);
  display: flex;
  gap: var(--spacing-60);
}

.container {
  flex: 2;
  display: grid;
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-20);
  min-width: 100%;
  list-style: none;
}

.item {
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-5);
  overflow: hidden;
}

.sidebar {
  flex: 1;
  padding: var(--spacing-20);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-40);
}

.details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
}

.title {
  font-size: var(--font-size-large);
}

.stars {
  list-style: none;
  display: flex;
  gap: var(--spacing-5);
}

.price {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light-bold);
}

.image {
  width: 100%;
  display: block;
}

.sizes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-auto-rows: 45px;
  gap: var(--spacing-10);
}

.size {
  width: 100%;
  height: 100%;
  border: none;
  padding: var(--spacing-10);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-5);
}

.active {
  background-color: var(--black);
  color: var(--white);
}

.actions {
  display: flex;

  gap: var(--spacing-20);
}

.add,
.favourite {
  border-radius: var(--radius-5);
  padding: var(--spacing-10) var(--spacing-20);
  border: none;
  display: flex;
  gap: var(--spacing-10);
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}
