.wrapper,
.navigation {
  display: flex;
  flex: 1;
}

.navigation {
  list-style: none;
  gap: var(--spacing-40);
  justify-content: flex-end;
}

.icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 62.5rem) {
  .wrapper {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
