.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  grid-column: 1 / -1;
  font-weight: var(--font-weight-light);
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--spacing-10) var(--spacing-20);
}

.link,
.container {
  display: flex;
  flex: 1;
}

.container {
  border-radius: var(--radius-5);
  overflow: hidden;
}

.link {
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.category {
  color: var(--dark-gray);
  font-weight: var(--font-weight-super-light);
}

.price {
  color: var(--dark-gray);
  justify-self: end;
  font-weight: var(--font-weight-super-light);
}
