.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  grid-column: 1 / -1;
  font-weight: var(--font-weight-light-bold);
  font-size: 1.1rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--spacing-10);
}

.link,
.container {
  display: flex;
  flex: 1;
}

.link {
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.container {
  /* border-radius: var(--radius-5); */
  overflow: hidden;
  /* width: var(--grid-image);
  height: var(--grid-image); */
  border-radius: var(--radius-10);
}

.link {
  overflow: hidden;
  min-width: 100%;
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.category {
  color: var(--dark-gray);
}

.price {
  justify-self: end;
  font-weight: var(--font-weight-light-bold);
}

@media screen and (max-width: 43.75rem) {
  .container {
    width: 100%;
  }
}
