.wrapper {
  min-width: 100%;
  padding: var(--spacing-40) var(--spacing-20);
}

.products {
  display: grid;
  grid-template-columns: repeat(6, var(--grid-image));
  grid-auto-rows: var(--grid-image);
  gap: var(--spacing-30);
  list-style: none;
}
