.wrapper {
  display: flex;
  flex: 2;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  position: relative;
}

.group {
  flex: 1;
  display: flex;
}

.field {
  flex: 1;
  padding: var(--spacing-10);
  border-radius: var(--radius-5);
  border: var(--darker-border);
  padding-left: var(--spacing-60);
}

.container {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--dark-gray);
}
