.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--spacing-60);
  padding: var(--spacing-60);
  font-size: 1.1rem;
}

.cart {
  display: grid;
  grid-template-columns: var(--grid-image-small) 1fr var(--grid-image-small);
  gap: var(--spacing-20);
  grid-auto-rows: var(--grid-image-small);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
}

.title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-light-bold);
}

.list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--spacing-10) 0;
}

.tag {
  font-weight: var(--font-weight-default);
}

.description {
  justify-self: end;
  text-align: right;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
}

.checkout,
.paypal {
  padding: var(--spacing-10);
  border: none;
}

.checkout {
  background-color: var(--black);
  color: var(--white);
}
