.wrapper {
  padding: var(--spacing-40);
}

.brands {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  /* grid-auto-rows: 100px; */
  gap: var(--spacing-40);
  list-style: none;
}
