.wrapper {
  padding: var(--spacing-20) var(--spacing-60);
  margin-top: auto;
  border-top: var(--simple-border);
}

@media screen and (max-width: 43.75rem) {
  .wrapper {
    padding: var(--spacing-20);
  }
}
