:root {
  --font-stack: "Figtree", "Arial", "Helvetica", sans-serif;
  --font-size-default: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 3rem;
  --font-weight-default: 500;
  --spacing-5: 5px;
  --spacing-10: 10px;
  --spacing-15: 15px;
  --spacing-20: 20px;
  --spacing-40: 40px;
  --radius-5: 5px;
  --radius-10: 10px;
  --gray: hsl(0deg 0% 75%);
  --dark-gray: hsl(0deg 0% 55%);
  --simple-border: 1px solid var(--gray);
  --darker-border: 1px solid var(--dark-gray);
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-stack);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
}

#root {
  min-height: 100%;
}
