.wrapper {
  min-height: 300px;
  background-color: var(--gray);
  /* margin-top: var(--spacing-60); */
  padding: var(--spacing-60);
  color: var(--white);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-30);
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}

.description {
  font-size: var(--font-size-medium);
}

.link {
  font-size: var(--font-size-default);
}

.link:link,
.link:visited {
  text-decoration: none;
  color: inherit;
  background-color: var(--black);
  padding: var(--spacing-10) var(--spacing-30);
}

@media screen and (max-width: 43.75rem) {
  .wrapper {
    padding: var(--spacing-20);
  }
}
