.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-super-light);
}

.details {
  font-size: var(--font-size-medium);
}

.link:link,
.link:visited {
  color: var(--link-color);
}
